-i https://pkgs.safetycli.com/repository/nil-2662d/project/ai_data_analyst/pypi/simple/
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
structlog
pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels
scipy
plotly
langchain
langchain-ollama
transformers
torch
pytest
pytest-asyncio
httpx
tabulate
bitsandbytes
accelerate
