name: Documentation Check

on:
  push:
    branches: [ "master", "main" ]
    paths:
      - "**/*.md"
  pull_request:
    branches: [ "master", "main" ]
    paths:
      - "**/*.md"

permissions:
  contents: read

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: --verbose --no-progress "**/*.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
